@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* #body::after {
  content: "";
  background-image: url("../images/Макетфинальный.png");
  width: 1440px;
  height: 9963px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.4;
  z-index: -5;
} */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: white;
}
#Cover {
  height: auto;
}
#Cover div:nth-of-type(1) {
  position: absolute;
}
#Cover div:nth-of-type(2) {
  position: absolute;
  right: 0px;
}
#Cover div:nth-of-type(3) {
  position: absolute;
  top: 200px;
  left: 0px;
}
h1 {
  font-size: 230px;
  font-weight: normal;
}
p {
  font-size: 32px;
  font-weight: 350;
  border: 2px solid #e9e9e9;
  background-color: rgba(240, 240, 240, 0.501);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  padding: 25px;
  z-index: 10;
  line-height: 120%;
  transition: all ease 0.3s;
}
p:hover {
  background-color: #f5e8fc;
  backdrop-filter: none;
  transition: all ease 0.6s;
}
#Cover div:nth-of-type(4) {
  position: absolute;
  top: 290px;
  left: 160px;
}
#Cover div:nth-of-type(5) {
  position: absolute;
  top: 610px;
  left: 140px;
}
#Cover div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 603px;
  left: 307px;
  width: 700px;
  border-radius: 50px 50px 50px 0;
}
.boldVioletText {
  color: #b24df1;
  font-weight: 500;
}
.boldBlueText {
  color: #3345c9;
  font-weight: 500;
}
.VioletText {
  color: #b24df1;
}
.BlueText {
  color: #3345c9;
}
#Cover div:nth-of-type(7) {
  justify-content: center;
  position: absolute;
  top: 590px;
  left: 370px;
}
#Cover div:nth-of-type(8) {
  justify-content: center;
  position: absolute;
  top: 550px;
  right: 300px;
}
#Cover div:nth-of-type(9) p {
  justify-content: center;
  position: absolute;
  top: 760px;
  right: 100px;
  width: 920px;
  border-radius: 50px;
  text-align: center;
}
#Languages1 div:nth-of-type(1) {
  position: absolute;
  top: 880px;
  left: 0px;
}
#Languages1 div:nth-of-type(2) {
  position: absolute;
  top: 970px;
  right: 0px;
}
#Languages1 div:nth-of-type(3) {
  position: absolute;
  top: 970px;
  right: 400px;
}
#Languages1 div:nth-of-type(4) {
  position: absolute;
  top: 1200px;
  left: 65px;
}
#Languages1 div:nth-of-type(5) {
  position: absolute;
  top: 1270px;
  right: 160px;
}
#Languages1 div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 1250px;
  right: 330px;
  width: 826px;
  border-radius: 50px 50px 0px 50px;
  text-align: right;
}
#Languages2 div:nth-of-type(1) {
  position: absolute;
  top: 1500px;
  left: 160px;
}
#Languages2 div:nth-of-type(2) {
  position: absolute;
  top: 1530px;
  right: 170px;
}
#Languages2 div:nth-of-type(3) p {
  justify-content: center;
  position: absolute;
  top: 1580px;
  left: 440px;
  width: 164px;
  border-radius: 50px;
  transform: rotate(15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(4) p {
  justify-content: center;
  position: absolute;
  top: 1660px;
  left: 180px;
  width: 178px;
  border-radius: 50px;
  transform: rotate(-15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(5) p {
  justify-content: center;
  position: absolute;
  top: 1710px;
  left: 550px;
  width: 139px;
  border-radius: 50px;
  transform: rotate(-15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 1800px;
  left: 430px;
  width: 125px;
  border-radius: 50px;
  transform: rotate(-15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(7) p {
  justify-content: center;
  position: absolute;
  top: 1830px;
  left: 580px;
  width: 172px;
  border-radius: 50px;
  transform: rotate(0deg);
  text-align: center;
}
#Languages2 div:nth-of-type(8) p {
  justify-content: center;
  position: absolute;
  top: 1855px;
  left: 280px;
  width: 156px;
  border-radius: 50px;
  transform: rotate(15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(9) p {
  justify-content: center;
  position: absolute;
  top: 1640px;
  right: 460px;
  width: 153px;
  border-radius: 50px;
  transform: rotate(-15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(10) p {
  justify-content: center;
  position: absolute;
  top: 1620px;
  right: 260px;
  width: 127px;
  border-radius: 50px;
  transform: rotate(15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(11) p {
  justify-content: center;
  position: absolute;
  top: 1760px;
  right: 530px;
  width: 159px;
  border-radius: 50px;
  transform: rotate(15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(12) p {
  justify-content: center;
  position: absolute;
  top: 1760px;
  right: 150px;
  width: 222px;
  border-radius: 50px;
  transform: rotate(-15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(13) p {
  justify-content: center;
  position: absolute;
  top: 1890px;
  right: 355px;
  width: 168px;
  border-radius: 50px;
  transform: rotate(15deg);
  text-align: center;
}
#Languages2 div:nth-of-type(14) {
  position: absolute;
  top: 1860px;
  left: 0px;
}
#developer div:nth-of-type(1) {
  position: absolute;
  top: 2100px;
  left: 200px;
}
#developer div:nth-of-type(2) {
  position: absolute;
  top: 2040px;
  right: 10px;
}
#developer div:nth-of-type(3) {
  position: absolute;
  top: 2560px;
  left: 440px;
}
#developer div:nth-of-type(4) {
  position: absolute;
  top: 2350px;
  left: 60px;
}
#developer div:nth-of-type(5) {
  position: absolute;
  top: 2150px;
  right: 125px;
  z-index: 6;
  transition: all ease 0.3s;
}
#developer div:nth-of-type(5):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#developer div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 2500px;
  left: 180px;
  width: 565px;
  border-radius: 0px 50px 50px 50px;
}
#developer div:nth-of-type(7) {
  position: absolute;
  top: 2150px;
  right: 125px;
  z-index: 5;
  transition: all ease 0.3s;
}
#specials div:nth-of-type(1) {
  position: absolute;
  top: 3163px;
  left: 10px;
}
#specials div:nth-of-type(2) {
  position: absolute;
  top: 3163px;
  left: 550px;
}
#specials div:nth-of-type(3) {
  position: absolute;
  top: 3163px;
  right: 10px;
}
#specials div:nth-of-type(4) {
  position: absolute;
  top: 3429px;
  right: 0px;
  z-index: 6;
  transition: all ease 0.3s;
}
#specials div:nth-of-type(4):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#specials div:nth-of-type(5) {
  position: absolute;
  top: 3142px;
  right: 84px;
  z-index: 7;
  transition: all ease 0.3s;
}
#specials div:nth-of-type(5):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#specials div:nth-of-type(6) {
  position: absolute;
  top: 3618px;
  right: 119px;
  z-index: 7;
  transition: all ease 0.3s;
}
#specials div:nth-of-type(6):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#specials div:nth-of-type(7) {
  position: absolute;
  top: 3142px;
  right: 84px;
  z-index: 6;
  transition: all ease 0.3s;
}
#specials div:nth-of-type(8) {
  position: absolute;
  top: 3618px;
  right: 119px;
  z-index: 6;
  transition: all ease 0.3s;
}
#specials div:nth-of-type(9) p {
  position: absolute;
  top: 3538px;
  left: 120px;
  width: 690px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  backdrop-filter: none;
  padding: 0px;
  text-shadow: 1px 2.5px 2px rgba(0, 0, 0, 0.3);
  z-index: 6;
}
#specials div:nth-of-type(10) {
  position: absolute;
  top: 3429px;
  right: 0px;
  z-index: 5;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(1) {
  position: absolute;
  top: 4353px;
  left: 0px;
}
#styles div:nth-of-type(2) {
  position: absolute;
  top: 4268px;
  left: 120px;
}
#styles div:nth-of-type(3) {
  position: absolute;
  top: 4393px;
  left: 340px;
}
#styles div:nth-of-type(4) {
  position: absolute;
  top: 4150px;
  right: 100px;
}
#styles div:nth-of-type(5) {
  position: absolute;
  top: 4353px;
  right: 0px;
}
#styles div:nth-of-type(6) {
  position: absolute;
  top: 4250px;
  right: 220px;
}
#styles div:nth-of-type(7) p {
  justify-content: center;
  position: absolute;
  top: 4213px;
  right: 390px;
  width: 683px;
  border-radius: 50px 50px 0px 50px;
  text-align: right;
}
#styles div:nth-of-type(8) {
  position: absolute;
  top: 4314px;
  left: 40px;
  z-index: 8;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(8):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#styles div:nth-of-type(9) {
  position: absolute;
  top: 4624px;
  left: 283px;
  z-index: 8;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(9):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#styles div:nth-of-type(10) {
  position: absolute;
  top: 4386px;
  right: 342px;
  z-index: 8;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(10):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#styles div:nth-of-type(11) {
  position: absolute;
  top: 4758px;
  right: 141px;
  z-index: 8;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(11):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#styles div:nth-of-type(12) {
  position: absolute;
  top: 4314px;
  left: 40px;
  z-index: 7;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(13) {
  position: absolute;
  top: 4624px;
  left: 283px;
  z-index: 7;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(14) {
  position: absolute;
  top: 4386px;
  right: 342px;
  z-index: 7;
  transition: all ease 0.3s;
}
#styles div:nth-of-type(15) {
  position: absolute;
  top: 4758px;
  right: 141px;
  z-index: 7;
  transition: all ease 0.3s;
}
#grotesk div:nth-of-type(1) {
  position: absolute;
  top: 5336px;
  left: 213px;
}
#grotesk div:nth-of-type(2) p {
  justify-content: center;
  position: absolute;
  top: 5343px;
  left: 390px;
  width: 507px;
  border-radius: 50px 50px 50px 0px;
}
#grotesk div:nth-of-type(3) {
  position: absolute;
  top: 5489px;
  left: 267px;
}
#grotesk div:nth-of-type(4) {
  position: absolute;
  top: 5745px;
  left: 268px;
}
#grotesk div:nth-of-type(4):hover {
  top: 5715px;
}
#grotesk div:nth-of-type(5) {
  position: absolute;
  top: 5817px;
  left: 579px;
}
#grotesk div:nth-of-type(5):hover {
  top: 5787px;
}
#grotesk div:nth-of-type(6) {
  position: absolute;
  top: 5817px;
  left: 811px;
}
#grotesk div:nth-of-type(6):hover {
  top: 5787px;
}
#grotesk div:nth-of-type(7) {
  position: absolute;
  top: 5817px;
  left: 1052px;
}
#grotesk div:nth-of-type(7):hover {
  top: 5787px;
}
#screens div:nth-of-type(1) {
  position: absolute;
  top: 6524px;
  left: 0px;
}
#screens div:nth-of-type(2) {
  position: absolute;
  top: 6685px;
  right: 427px;
}
#screens div:nth-of-type(3) p {
  justify-content: center;
  position: absolute;
  top: 6670px;
  left: 282px;
  width: 564px;
  border-radius: 50px 50px 0px 50px;
  text-align: right;
}
#screens div:nth-of-type(4) {
  position: absolute;
  top: 6708px;
  left: 0px;
}
#screens div:nth-of-type(4):hover {
  top: 6688px;
}
#screens div:nth-of-type(5) {
  position: absolute;
  top: 6964px;
  right: 147px;
}
#screens div:nth-of-type(5):hover {
  top: 6934px;
}
#glyphs div:nth-of-type(1) {
  position: absolute;
  top: 7954px;
  left: 67px;
}
#glyphs div:nth-of-type(2) {
  position: absolute;
  top: 8024px;
  left: 287px;
}
#glyphs div:nth-of-type(3) {
  position: absolute;
  top: 7950px;
  right: 40px;
}
#glyphs div:nth-of-type(4) {
  position: absolute;
  top: 7910px;
  left: 134px;
}
#glyphs div:nth-of-type(5) p {
  justify-content: center;
  position: absolute;
  top: 7940px;
  left: 307px;
  width: 721px;
  border-radius: 50px 50px 50px 0px;
}
#glyphs div:nth-of-type(6) {
  position: absolute;
  top: 8184px;
  left: 147px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(6):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(7) {
  position: absolute;
  top: 8184px;
  left: 147px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(8) {
  position: absolute;
  top: 8093px;
  left: 358px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(8):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(9) {
  position: absolute;
  top: 8093px;
  left: 358px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(10) {
  position: absolute;
  top: 8113px;
  left: 546px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(10):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(11) {
  position: absolute;
  top: 8113px;
  left: 546px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(12) {
  position: absolute;
  top: 8199px;
  left: 741px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(12):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(13) {
  position: absolute;
  top: 8199px;
  left: 741px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(14) {
  position: absolute;
  top: 8035px;
  right: 300px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(14):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(15) {
  position: absolute;
  top: 8035px;
  right: 300px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(16) {
  position: absolute;
  top: 8255px;
  right: 268px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(16):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(17) {
  position: absolute;
  top: 8255px;
  right: 268px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(18) {
  position: absolute;
  top: 8172px;
  right: 90px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(18):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(19) {
  position: absolute;
  top: 8172px;
  right: 90px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(20) {
  position: absolute;
  top: 8404px;
  left: 182px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(20):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(21) {
  position: absolute;
  top: 8404px;
  left: 182px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(22) {
  position: absolute;
  top: 8360px;
  left: 432px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(22):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(23) {
  position: absolute;
  top: 8360px;
  left: 432px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(24) {
  position: absolute;
  top: 8429px;
  left: 627px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(24):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(25) {
  position: absolute;
  top: 8429px;
  left: 627px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(26) {
  position: absolute;
  top: 8429px;
  right: 384px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(26):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(27) {
  position: absolute;
  top: 8429px;
  right: 384px;
  z-index: 9;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(28) {
  position: absolute;
  top: 8383px;
  right: 103px;
  z-index: 10;
  transition: all ease 0.3s;
}
#glyphs div:nth-of-type(28):hover {
  opacity: 0;
  transition: all ease 0.6s;
}
#glyphs div:nth-of-type(29) {
  position: absolute;
  top: 8383px;
  right: 103px;
  z-index: 9;
  transition: all ease 0.3s;
}
#end div:nth-of-type(1) {
  position: absolute;
  top: 8914px;
  left: 47px;
}
#end div:nth-of-type(2) {
  position: absolute;
  top: 8909px;
  right: 43px;
}
#end div:nth-of-type(3) p {
  justify-content: center;
  position: absolute;
  top: 8839px;
  right: 186px;
  width: 835px;
  border-radius: 50px 50px 0px 50px;
  text-align: right;
}
