@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

#body::after {
  content: "";
  background-image: url("../images/Макетфинальный.png");
  width: 1440px;
  height: 9963px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.4;
  z-index: -5;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
#Cover {
  height: auto;
}
#Cover div:nth-of-type(1) {
  position: absolute;
}
#Cover div:nth-of-type(2) {
  position: absolute;
  right: 0px;
}
#Cover div:nth-of-type(3) {
  position: absolute;
  top: 200px;
  left: 0px;
}
h1 {
  font-size: 230px;
  font-weight: normal;
}
p {
  font-size: 32px;
  font-weight: 350;
  border: 5px #fff;
  background-color: rgba(202, 202, 202, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  padding: 20px;
}
#Cover div:nth-of-type(4) {
  position: absolute;
  top: 290px;
  left: 160px;
}
#Cover div:nth-of-type(5) {
  position: absolute;
  top: 610px;
  left: 140px;
}
#Cover div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 603px;
  left: 300px;
  width: 700px;
  border-radius: 50px 50px 50px 0;
}
.boldVioletText {
  color: #b24df1;
  font-weight: 500;
}
.boldBlueText {
  color: #3345c9;
  font-weight: 500;
}
#Cover div:nth-of-type(7) {
  justify-content: center;
  position: absolute;
  top: 590px;
  left: 370px;
}
#Cover div:nth-of-type(8) {
  justify-content: center;
  position: absolute;
  top: 550px;
  right: 300px;
}
#Cover div:nth-of-type(9) p {
  justify-content: center;
  position: absolute;
  top: 760px;
  right: 100px;
  width: 920px;

  border-radius: 50px;
}
#Languages1 div:nth-of-type(1) {
  position: absolute;
  top: 880px;
  left: 0px;
}
#Languages1 div:nth-of-type(2) {
  position: absolute;
  top: 970px;
  right: 0px;
}
#Languages1 div:nth-of-type(3) {
  position: absolute;
  top: 970px;
  right: 400px;
}
#Languages1 div:nth-of-type(4) {
  position: absolute;
  top: 1200px;
  left: 65px;
}
#Languages1 div:nth-of-type(5) {
  position: absolute;
  top: 1270px;
  right: 160px;
}
#Languages1 div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 1250px;
  right: 330px;
  width: 826px;
  border-radius: 50px 50px 0px 50px;
}
#Languages2 div:nth-of-type(1) {
  position: absolute;
  top: 1500px;
  left: 160px;
}
#Languages2 div:nth-of-type(2) {
  position: absolute;
  top: 1530px;
  right: 170px;
}
#Languages2 div:nth-of-type(3) p {
  justify-content: center;
  position: absolute;
  top: 1580px;
  left: 440px;
  width: 159px;
  border-radius: 50px;
  transform: rotate(15deg);
}
#Languages2 div:nth-of-type(4) p {
  justify-content: center;
  position: absolute;
  top: 1660px;
  left: 180px;
  width: 173px;
  border-radius: 50px;
  transform: rotate(-15deg);
}
#Languages2 div:nth-of-type(5) p {
  justify-content: center;
  position: absolute;
  top: 1710px;
  left: 550px;
  width: 134px;
  border-radius: 50px;
  transform: rotate(-15deg);
}
#Languages2 div:nth-of-type(6) p {
  justify-content: center;
  position: absolute;
  top: 1800px;
  left: 430px;
  width: 117px;
  border-radius: 50px;
  transform: rotate(-15deg);
}
#Languages2 div:nth-of-type(7) p {
  justify-content: center;
  position: absolute;
  top: 1830px;
  left: 580px;
  width: 167px;
  border-radius: 50px;
  transform: rotate(0deg);
}
#Languages2 div:nth-of-type(8) p {
  justify-content: center;
  position: absolute;
  top: 1855px;
  left: 280px;
  width: 151px;
  border-radius: 50px;
  transform: rotate(15deg);
}
#Languages2 div:nth-of-type(9) p {
  justify-content: center;
  position: absolute;
  top: 1640px;
  right: 460px;
  width: 148px;
  border-radius: 50px;
  transform: rotate(-15deg);
}
#Languages2 div:nth-of-type(10) p {
  justify-content: center;
  position: absolute;
  top: 1620px;
  right: 260px;
  width: 122px;
  border-radius: 50px;
  transform: rotate(15deg);
}
#Languages2 div:nth-of-type(11) p {
  justify-content: center;
  position: absolute;
  top: 1760px;
  right: 530px;
  width: 154px;
  border-radius: 50px;
  transform: rotate(15deg);
}
#Languages2 div:nth-of-type(12) p {
  justify-content: center;
  position: absolute;
  top: 1760px;
  right: 150px;
  width: 217px;
  border-radius: 50px;
  transform: rotate(-15deg);
}
#Languages2 div:nth-of-type(13) p {
  justify-content: center;
  position: absolute;
  top: 1890px;
  right: 355px;
  width: 163px;
  border-radius: 50px;
  transform: rotate(15deg);
}
